@model QuanLyNhaHang.Models.THUCHI

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>THUCHI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LaPhieuThu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaPhieuThu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
