@model QuanLyNhaHang.Models.LOAISUCO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOAISUCO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaBoPhanXuLy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaBoPhanXuLy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaLoaiSuCo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaLoaiSuCo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiSuCo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenLoaiSuCo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
