@model BIENBANSUCO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BIENBANSUCO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HuongGiaiQuyet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HuongGiaiQuyet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaBienBan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaBienBan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaLSC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaLSC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguyenNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguyenNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
