@model QuanLyNhaHang.Areas.Admin.ViewModels.RoleEditModel
@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Chỉnh sửa quyền";
    ViewData["areas"] = "Quản trị viên";
    ViewData["controller"] = "Phân quyền";
    ViewData["action"] = "Sửa";
    ViewData["h2"] = "Chỉnh sửa quyền";
}
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />
    <h6 class="bg-info panel-body">Thêm vào @Model.Role.Name</h6>
    <table class="table table-bordered table-condensed">
        @if (Model.NonMembers.Count() == 0)
        {
            <tr><td colspan="2">Tất cả user đã được cấp quyền này</td></tr>
        }
        else
        {
            @foreach (QuanLyNhaHang.Models.AppUser user in Model.NonMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="IdsToAdd" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <h6 class="bg-info panel-body">Xóa khỏi @Model.Role.Name</h6>
    <table class="table table-bordered table-condensed">
        @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">Không có thành viên nào trong quyền này</td></tr>
        }
        else
        {
            @foreach (QuanLyNhaHang.Models.AppUser user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="IdsToDelete" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-default">Hủy</a>
</form>