@model IEnumerable<QuanLyNhaHang.Models.PHIEUCHI>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LaPhieuThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTienChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LaPhieuThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
